/*defacult css*/
*{
  margin: 0px;
  padding: 0px;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@media screen and (max-width:768px) {

  body{
    height: 100%;
    width: 100%;
  }
  .cf{
    content: " ";
    display: table;
    clear: both;
  }
  a,img {
    text-decoration: none;
  }
  ul{
    list-style: none;
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size:16px;
  }

  /* header */

  header{
    width: 100%;
    height: 150px;
    background-color: #002147;
    position: static;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    float: left;
    margin-left: 50px;
    display: none;
  }
  .mlogo{
    float: left;
    margin-left: 20px;
  }
  .button_hamburger {
     width: 30px;
     height: 30px;
     float: right;
     background-image: url(../images/menu.gif);
     color: #fff;
     border: none;
     font-size: 0px;
     transition: height 0.3s linear 0s;
  }
  .input{
   display: none;
  }
  .admissions{
    width: 600px;
    height: 30px;
    flex-direction: row;
    display: none;
  }
  .about {
    display: flex;
    direction: row;
    justify-content: space-around;
    align-items: center;
    display: none;
  }
  .about li{
    margin-right: 40px;
    display: none;
    font-weight: bold;
  }
  a {
      color:white;
  }
  .colleges{
    height: 30px;
    width: 300px;
    background-color: #001833;
    display: flex;
    direction: row;
    justify-content: space-around;
    align-items: center;
    display: none
  }
  .button{
    background-color:  #002147;
    margin: 20px ;
  }
  .search{
    display: flex;
    direction: row;
    padding-right: 75px
  }
  .search li:first-child button{
     float: left;
     width: 30px;
     height:30px;
     background: rgba(255,255,255,0.1);
     border-color: transparent;
     color: white;
     font-size: 17px;
     cursor: pointer;
 }
  .sec{
    display: flex;
    direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .staff{
    height: 5px;
    width: 500px;
    display:flex;
    direction: row;
    margin-top: 85px;
    display: none;
  }
  .staff li{
    margin-right: 29px
  }

  /* banner */

  .inner_main{
    height: 515px;
    width: 100%;
    background-image: url(../images/banner.png);
    background-size: 767px;
    background-repeat: no-repeat;
   }
   .banner{
     padding: 290px 0 0 0;
     color: black;
     font-size: 16px;
     margin-left:20px;
   }
   .banner p{
     font-size: 35px;
   }

   /* NEWS */

   .news_events{
     height: 1950px;
     width: 100%;
     background-color: #f3f1ec;
    }
    .news_main h1{
      padding: 30px 0 30px 30px;
    }
    .news_main article{
      padding-top: 30px;
    }
    .event{
      margin-left: 20px;
    }
    .img{
      height: 400px;
      width: 100%;
    }
    .article p{
     font-size: 30px;
     width: 100%;
     height: 100px;
     padding-left: 20px;
     padding-top: 10px;
     box-sizing: border-box;
    }
    .article p br{
      display: none;
    }

    span{
      height: 60px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #002147;
      color: white;
    }
    .eve {
      display: flex;
      margin-top: 20px;
    }
    .eve p{
      font-size: 30px;
      margin-left: 30px;
      background-color: #e0ded9;
      width: 100%;
    }

    /* DISCOVER */
    .discover{
      height: 1020px;
      width: 100%;
      background-color: #e0ded9;
     }
     .discover_quotes {
       background-color: #ffffff;
       height: 176px;
       width: 100%;
       display: flex;
       align-items: center;
       padding-left: 50px;
     }
     .discover article{
       display: flex;
       margin-top: 10px;
     }
     .discover article h5{
       font-size: 25px;
     }
     .discover article p{
       font-size: 20px;
     }
     .disc{
       width: 100%;
       height:400px;
       padding:30px 0 0 30px;
       box-sizing:border-box;
     }
     .discover_image{
       width: 190px;
     }

     /* study of oxford */


     .study{
       height: 680px;
       width: 100%;
       background-color: #f3f1ec;
     }
     .study article{
       width: 300px;
       height: 325px;
       float: left;
       margin-right: 5px;
     }
     .study_at{
       display: flex;
       display: row;
     }
     .studyat{
       width: 100%;
       height:350px;
       padding: 20px 0px 0 20px ;
       box-sizing: border-box;
     }
     .image1{
       background-image: url(../images/study1.jpg);
       background-size: 300px;
       background-repeat: no-repeat;
     }
     .image1 div{
       height: 30px;
       width: 270px;
       margin-top: 247px;
       font-size: 30px;
     }
     .image2{
       background-image: url(../images/study2.jpg);
       background-size: 300px;
       background-repeat: no-repeat;
     }
     .image2 div{
       height: 30px;
       width: 270px;
       margin-top: 247px;
       font-size: 30px;
     }
     .image3{
       background-image: url(../images/study3.jpg);
       background-size: 300px;
       background-repeat: no-repeat;
     }
     .image3 div{
       height: 30px;
       width: 270px;
       margin-top: 247px;
       font-size: 30px;
     }
     .image4{
       background-image: url(../images/study4.jpg);
       background-size: 300px;
       background-repeat: no-repeat;
     }
     .image4 div{
       height: 30px;
       width: 270px;
       margin-top: 247px;
       font-size: 30px;
     }
     .inner_text{
       padding: 0px 0 0px 30px;
     }
     /* footer */

     .main_footer{
       width: 100%;
       height: 760px;
       background-color: #002147;
       padding: 20px 0px 0px 0px;
     }
     .contact{
       color: white;
       padding-left: 50px;
       display: flex;
     }
     .icons ul li{
       display: inline;
     }
     .icons ul{
         padding-left: 60px;

     }
     h2{
       color: white;
     }
     .info{
       height: 550px;
       width: 100%;
     }
     .info article{
       padding: 20px 0 0 20px;
     }
     .info article h2{
       text-align: center;
     }
     .info article ul li {
       margin-bottom: 10px;
       text-align: center;
     }
     .copyright ul li{
       display:inline;
       margin-right: 10px;
     }
     .copyright{
      margin-top: 140px;
      font-size: 12px;
      padding-left: 20px;
     }
}

@media screen and (min-width:769px) and (max-width:1199px) {
  body{
    height: 100%;
    width: 100%;
  }
  .cf{
    content: ".";
    display: table;
    clear: both;
  }
  a,img {
    text-decoration: none;
  }
  ul{
    list-style: none;
  }
  body{
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    font-size:16px;
  }


  /* header */

  header{
    width: 100%;
    height: 150px;
    background-color: #002147;
    position: static;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    float: left;
    margin-left: 50px;
  }
  .mlogo{
    display: none;
  }
  .button_hamburger {
     width: 30px;
     height: 30px;
     float: right;
     background-image: url(../images/menu.gif);
     color: #fff;
     border: none;
     font-size: 0px;
     background-repeat: no-repeat;
     transition: height 0.3s linear 0s;
  }
  .input{
   display: none;
  }
  .admissions{
    width: 600px;
    height: 30px;
    flex-direction: row;
  }
  .about {
    display: flex;
    direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .about li{
    margin-right: 40px;
  }
  a {
      color:white;
  }
  .colleges{
    height: 30px;
    width: 300px;
    background-color: #001833;
    display: flex;
    direction: row;
    justify-content: space-around;
    align-items: center;
    display: none
  }
  .button{
    background-color:  #002147;
    margin: 20px ;
  }
  .search{
    display: flex;
    direction: row;
  }
  .search li:first-child button{
     float: left;
     width: 30px;
     height:30px;
     background: rgba(255,255,255,0.1);
     border-color: transparent;
     color: white;
     font-size: 17px;
     cursor: pointer;
 }
  .sec{
    display: flex;
    direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .staff{
    height: 5px;
    width: 500px;
    display:flex;
    direction: row;
    margin-top: 85px;
    display: none;
  }
  .staff li{
    margin-right: 29px
  }

  /* banner */

  .inner_main{
    height: 500px;
    width: 100%;
    background-image: url(../images/banner.png);
   }
   .banner{
     padding: 350px 0 0 30px;
     color: white;
     font-size: 12px
   }

   /* NEWS */

   .news_events{
     height: 380px;
     width: 100%;
     background-color: #f3f1ec;
     display:flex;
    }
    .img{
      width: 220px;
    }
    .news_main{
      height:316px;
      padding-left: 50px;
      padding-top: 20px;
      width: 66%
    }
    .article{
      float: left;
      margin-right: 10px;
      width: 31.8%;
    }
    .article p {
      background: #e0ded9;
      height: 75px;
      width: 220px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .event{
      width: 25%;
      height:250px;
      float: right;
      padding-top: 20px;
    }
    span{
      height: 60px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #002147;
      color: white;
      margin-top: 5px;
    }
    .event p{
      background: #e0ded9;
      width: 275px;
      margin-top: 10px;
    }

    /* DISCOVER */
    .discover{
      height: 380px;
      width: 100%;
      background-color: #e0ded9;
     }
     .discover article{
       width: 19%;
       height: 300px;
       float: left;
       margin-right: 03px
     }
     .discover_quotes {
       background-color: #ffffff;
       height: 75px;
       width: 190px;
       display: flex;
       align-items: center;
       box-sizing: border-box;
     }
     .disc{
       width: 100%;
       height:303px;
       padding:20px 0 0 30px;
       box-sizing: border-box;
     }
     .discover_image{
       width: 190px;
     }

     /* study of oxford */


     .study{
       height: 30px;
       width: 100%;
       background-color: #f3f1ec;
     }
     .study article{
       margin-right: 5px;
     }
     .study_content{
       padding: 20px 0px 0px 30px ;
     }
     .stdy{
       display: flex;
       height: 200px;
       width: 480px
     }
     .study_at{
       display: flex;
     }
     .studyat{
       height:330px;
       width: 100%;
     }
     .image1{
       background-image: url(../images/study1.jpg);
       background-size: cover;
       width: 255px;
     }
     .image1 div{
       height: 30px;
       width: 205px;
       background-color: rgba(255,225,225, 0.8);
       margin-top: 161px;
     }
     .image2{
       background-image: url(../images/study2.jpg);
       background-size: cover;
        width: 255px;
     }
     .image2 div{
       height: 30px;
       width: 205px;
       background-color: rgba(255,225,225, 0.8);
       margin-top: 161px;
     }
     .image3{
       background-image: url(../images/study3.jpg);
       background-size: cover;
        width: 255px;
     }
     .image3 div{
       height: 30px;
       width: 205px;
       background-color: rgba(255,225,225, 0.8);
       margin-top: 161px;
     }
     .image4{
       background-image: url(../images/study4.jpg);
       background-size: cover;
        width: 255px;
     }
     .image4 div{
       height: 30px;
       width: 205px;
       background-color: rgba(255,225,225, 0.8);
       margin-top: 161px;
     }
     .inner_text{
       padding: 10px 0 0px 10px;
     }
     /* footer */

     .main_footer{
       width: 100%;
       height: 400px;
       background-color: #002147;
       padding: 50px 0px 0px 0px;
     }
     .contact{
       display: flex;
       display: row;
       color: white;
       padding-left: 50px;
     }
     .icons{
      padding-left: 30px;
     }
     .icons ul li{
       display: inline;
     }
     .icons ul{
         display: inline;
     }
     h2{
       color: white;
     }
     .info{
       height: 330px;
       width: 100%;

     }
     .info article{
       float: left;
       padding: 50px 0 0 30px;

     }
     .info article ul li {
       margin-bottom: 15px;
     }
     .copyright ul li{
       display: inline;
       padding-left: 30px
     }
}

@media screen and (min-width:1200px) {

 body{
   height: 100%;
   width: 1366px;
 }
 .cf{
   content: ".";
   display: table;
   clear: both;
 }
 a,img {
   text-decoration: none;
 }

 ul{
   list-style: none;
 }
 body{
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   color: black;
   font-size:16px;
 }

 /* header */

  header{
   width: 1366px;
   height: 150px;
   background-color: #002147;
   top: 0px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin: auto;
 }
 .logo{
   float: left;
   margin-left: 50px;
   padding-top: 10px;
 }
 .mlogo{
   display: none;
 }
 .button_hamburger {
    margin: 15px 16px;
    width: 30px;
    height: 30px;
    float: right;
    background-color: #202020;
    color: #fff;
    border: none;
    font-size: 30px;
    transition: height 0.3s linear 0s;
    display: none;
  }
 .admissions{
   flex-direction: row;
   padding-left: 35px;
 }
 .about{
   display: flex;
   direction: row;
   justify-content: space-around;
   align-items: center;
 }
 .about li{
   margin-right: 40px;
   font-size: 21px;
 }
  .about li a{
     color:white;
 }
 .about li a:hover{
   background-color: #3277ae;
 }
 .colleges{
   height: 50px;
   width: 350px;
   background-color: #001833;
   font-size: 14px;
   display: flex;
   direction: row;
   justify-content: space-around;
   align-items: center;
   padding-left: 10px;
   color: rgba(255,255,255,0.1);
 }
 .colleges li a{
   padding-right: 20px;
   color: rgba(255,255,255,0.7);
 }
 .button{
   background-color:  #002147;
  }
  .input {
     height: 50px;
     font-size: 12px;
     float: left;
     border: 0px solid;
     width: 100px;
     background-color: rgba(255,255,255,0.1);
     border-color: transparent;
  }
  ::placeholder {
    color: white;
    padding: 5px;
  }
  .search li button{
     float: left;
     width: 50px;
     height:50px;
     background: rgba(255,255,255,0.1);
     border-color: transparent;
     color: white;
     font-size: 17px;
     cursor: pointer;
 }

 .search::after {
     content: "";
     clear: both;
     display: table;
 }
 .sec{
   display: flex;
   direction: row;
   align-items: center;
 }
 .staff{
   height: 5px;
   width: 540px;
   display:flex;
   direction: row;
   margin-top: 20px;
   font-size: 12px;
 }
 .staff li{
   padding-left: 15px;
   margin-left: 30px;
 }
 .staff li a{
   color: rgba(255,255,255,0.7);
 }


 /* banner */

 .inner_main{
   height: 500px;
   width: 1366px;
   margin: auto;
   background-image: url(../images/banner.png);
   background-repeat:no-repeat;
   background-size: cover;
  }
  .banner{
   padding: 350px 0 0 50px;
   color: white;
   font-size: 12px
 }

 /* NEWS */

 .news_events{
       height: 440px;
       width: 1366px;
       background-color: #f3f1ec;
       display: flex;
 }
 .news_main{
   width: 72%;
   height: 320px;
   float: left;
   padding-left: 50px;
   padding-top: 20px;
 }
 .article {
   float: left;
   margin-right: 10px;
   width: 32%;
   padding-top: 20px;
 }
 .article p {
   background: #e0ded9;
   height: 75px;
   width: 310px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .event{
   width: 25%;
   height:320px;
   float: right;
   padding-top: 20px;
 }
 span{
   height: 60px;
   width: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #002147;
   color: white;
   margin-top: 20px;

 }
 .event p{
   background: #e0ded9;
   width: 275px;
   padding-top: 5px;
   margin-top: 5px;
   padding-left: 10px;
 }

 /* DISCOVER */

 .discover{
   height: 360px;
   width: 1366px;
   background-color: #e0ded9;
   margin: auto;
 }

 .discover article{
   width: 18.5%;
   height: 250px;
   float: left;
   margin-right: 18px;
   padding-top: 20px;
 }
 .discover_quotes {
   background-color: #ffffff;
   height: 75px;
   width: 238px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .disc{
   width: 100%;
   height:400px;
   padding: 20px 50px 0 50px  ;
   box-sizing: border-box;
 }



 /* study of oxford */


 .study{
   height: 400px;
   width: 1366px;
   background-color: #f3f1ec;
   margin: auto;
 }
 .study article{
   width: 23.4%;
   height: 300px;
   float: left;
   margin-right: 5px;
 }
 .study_at {
   padding-top: 20px
 }
 .studyat{
   height:330px;
   width: 100%;
   padding: 20px 0px 0 50px ;
   box-sizing: border-box;
 }
 .image1{
   background-image: url(../images/study1.jpg);
   background-size: cover;
 }
 .image1 div{
   height: 30px;
   width: 270px;
   background-color: rgba(225,225,225, 0.8);
   margin-top: 260px;
 }
 .image2{
   background-image: url(../images/study2.jpg);
   background-size: cover;
 }
 .image2 div{
   height: 30px;
   width: 270px;
   background-color: rgba(225,225,225, 0.8);
   margin-top: 260px;
 }
 .image3{
   background-image: url(../images/study3.jpg);
   background-size: cover;
 }
 .image3 div{
   height: 30px;
   width: 270px;
   background-color: rgba(225,225,225, 0.8);
   margin-top: 260px;
 }
 .image4{
   background-image: url(../images/study4.jpg);
   background-size: cover;
 }
 .image4 div{
   height: 30px;
   width: 270px;
   background-color: rgba(225,225,225, 0.8);
   margin-top: 260px;
 }
 .inner_text{
   padding: 10px 0 0px 30px;
 }


 /* footer */

 .main_footer{
   width: 1366px;
   height: 500px;
   background-color: #002147;
   padding: 50px 0px 0px 0px;
   margin: auto;
 }
 .contact{
   display: flex;
   display: row;
   color: white;
   padding-left: 50px;
 }
 .icons{
   padding-left:30px;
 }
 .icons ul li{
   display: inline;
 }
 h2{
   color: white;
 }
 .info{
   height: 425px;
   width: 100%;

 }
 .info article{
   float: left;
   margin-right: 100px;
   padding: 50px 0 0 50px;

 }
 .info article ul li {
   padding-top: 20px;
 }
 .info article ul li a{
   color: white;
 }
 .copyright ul li{
   display: inline;
   margin-right: 5px;
   padding-left: 50px
 }
 .copyright ul li a{
   color: white;
 }
}
